* {
    border: none;
    font-family: "Montserrat";
    font-size: 12px;
    min-height: 0;
}


window#waybar {
    /*background-color: #161616;*/
    background: rgba(25, 25, 25, 0.90);
    color: #d8dee9;
    border-radius: 0;
}

#network, #window, #clock, #pulseaudio, #battery {
    margin: 2px 2px;
    padding: 2px 4px;
    border-radius: 10px;
    color: #88c0d0;
}


#clock {
  font-weight: bold;
}

window#waybar.empty #window {
    background-color:transparent;
}


#pulseaudio.muted {
    background-color: #161616;
    font-size: 12px;
    color: #FF5555;
}

#network.disconnected {
  color: #FF5555;
    font-size: 12px;
}

#battery icon {
  color: red;
}

#battery.charging, #battery.plugged {
  color: #a3be8c;
  font-weight: bold;
  font-size: 12px;
}

@keyframes blink {
  to {
    background-color: #ffffff;
    color: #000000;
  }
}

#battery.warning:not(.charging) {
  color: #d08770;
  padding: 0px 5px;
  margin: 4px 3px;
  font-size: 12px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#battery.critical:not(.charging) {
  background-color: #FF5555;
  color: #ffffff;
  padding: 0px 5px;
  margin: 4px 3px;
  font-size: 12px;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


/* -----------------------------------------------------
 * Workspaces
 * ----------------------------------------------------- */

#workspaces {
    margin: 2px 5px;
    padding: 2px 8px;
    border-radius: 12px;
    border: 0px;
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    opacity: 0.8;
}

#workspaces button {
    padding: 0px 5px;
    margin: 4px 3px;
    border-radius: 12px;
    border: 0px;
    font-size: 11px;
    background-color: #434c5e;
    transition: all 0.3s ease-in-out;
    opacity: 1.0;
}

#workspaces button.active {
    color: #000000;
    background: #88c0d0;
    border-radius: 12px;
    min-width: 35px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    opacity:1.0;
}

#workspaces button:hover {
    color: #000000;
    background: #88c0d0;
    border-radius: 12px;
    opacity:1.0;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
  margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
  margin-right: 0;
}

